.register {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background: #E5E5E5;
    padding: 2rem;
}

.register > .login-field {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.register > .login-field > input {
    width: auto;
    height: 56px;
    border-radius: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.register > .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}