@import '../../index.scss';

footer {
    border-top: 1px solid $black-light;
    padding-top: 1rem;

    h1 {
        font-weight: 900;
        font-size: 32px;
        font-style: normal;
        line-height: 39px;
        text-align: center;
        color: $black-light;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        line-height: 17px;
        text-align: center;
        color: $black-light;
    }
}