.list-item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.list-item > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}