nav {
    display: flex;
    justify-content: space-between;
    background-color: #000C;
    color: white;
    padding: 0 2rem;
    border-radius: 0 20px 0 20px ;
    box-shadow: 0 .25rem .25rem 0 #00000033;
}